<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <i class="fa fa-arrow-left" onclick="goBack();" style="cursor:pointer;"></i>
        Add New Fund
      </header>
      <div class="panel-body">
        <%= render partial: 'form' %>
      </div>
    </section>
  </div>
</div>