<div class="row">
  <div class="col-lg-12">
    <%if flash[:notice] %>
      <ol class="breadcrumb">          				  	
        <div style="text-align:center;"><%= flash[:notice] %></div>
      </ol>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <i class="fa fa-arrow-left" onclick="goBack();" style="cursor:pointer;"></i>
        Edit Address
      </header>

      <div class="panel-body">
        <%= render partial: 'form' %>
      </div>
    </section>
  </div>
</div>